<%-include("header") -%>

<h1>This is the about page.</h1>

<p> you will see that the about page also has the same styling<br> and this is because it has used the layouts in the ejs that contains header and footer </p>



<%-include("footer") -%>